<h1>Articles#edit</h1>

<%= form_for(@article) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, placeholder: "Jim Knopf und die wilde 13" %>
  <%= f.label :content %>
  <%= f.text_area(:content, size: '50x10') %>
  <%= f.label :author %>
  <%= f.text_field :author, placeholder: "Lukas der Lokomotivführer" %>
  <%= f.label :rating %>
  <%= f.number_field :rating %>
  <%= f.submit %>
<% end %>
